/.idea
/.idea/**
build
build/**
temp
temp/**
.gradle
.gradle/**
gradle
gradle/**
gradlew
gradlew.bat
deploy
deploy/**
ext
ext/**
notes
notes/**
out
out/**
buildSrc/src/main/java/org/toubassi
buildSrc/src/main/java/org/toubassi/**
