<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
    <Frame name="TomCats-HallowsEndInterfaceOptionsPanel" parent="InterfaceOptionsFramePanelContainer">
        <Layers>
            <Layer>
                <FontString name="$parentTitle" text="Hallow's End" inherits="GameFontNormalLarge" justifyH="LEFT" justifyV="TOP">
                    <Anchors>
                        <Anchor point="TOPLEFT">
                            <Offset>
                                <AbsDimension x="16" y="-16"/>
                            </Offset>
                        </Anchor>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Frames>
            <CheckButton name="$parentShowCompleted" inherits="InterfaceOptionsCheckButtonTemplate">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentTitle" relativePoint="BOTTOMLEFT">
                        <Offset>
                            <AbsDimension x="-2" y="-8"/>
                        </Offset>
                    </Anchor>
                </Anchors>
                <Scripts>
                    <OnLoad>
                            self.type = CONTROLTYPE_CHECKBOX
                            self.Text:SetText("Show completed")
                            self.tooltipText = "Show icons for elder quests you have already completed"
                            BlizzardOptionsPanel_RegisterControl(self, self:GetParent())
                            self.defaultValue = "0"
                            self.GetValue = function()
                                local currentValue = _G["TomCats_HallowsEnd_Character"].preferences.showCompleted
                                if (currentValue) then return "1" end
                                return "0"
                            end
                            self.SetValue = function(_, value)
                                if (value == "1") then
                                    _G["TomCats_HallowsEnd_Character"].preferences.showCompleted = true
                                else
                                    _G["TomCats_HallowsEnd_Character"].preferences.showCompleted = nil
                                end
                                TomCatsHallowsEndDataProviderMixin.UpdatePreferences()
                            end
                    </OnLoad>
                </Scripts>
            </CheckButton>
        </Frames>
        <Scripts>
            <OnLoad>
                if (TomCats) then
                    self.name = "Hallow's End"
                    self.parent = "TomCat's Tours"
                    InterfaceOptionsPanel_OnLoad(self);
                end
            </OnLoad>
        </Scripts>
    </Frame>
</Ui>
